
    header , footer{
        background-color: black;
    }
    #copyright{
      background-color: rgb(33, 33, 33);
    }
    #formBryan{
      width: 100%;
      min-width: 0;
      height: 100%;
      float: left;
    }
