header { 
    
    position: relative;
    height: 55vh;
    min-height:50rem;
    width: 100%;
    overflow: hidden;
    }
    
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height:100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    }
  
    #bryanK {
        font-family:'Raleway',sans-serif;}